@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    color: #3c82f6;
  }
  body {
    background: #eee;
    font-family:
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    overflow-x: hidden !important;
    padding: 0;
  }
  .overflow-hidden {
    overflow: hidden !important;
  }
  @media (min-width: 640px) {
    body {
      overflow-x: hiden;
    }
  }
  @media (min-width: 768px) {
    body {
      overflow-x: hiden;
    }
  }
  @media (min-width: 1024px) {
    body {
      overflow-x: hiden;
    }
  }
  @media (min-width: 1280px) {
    body {
      overflow-x: hiden;
    }
  }
  @media (min-width: 1536px) {
    body {
      overflow-x: hiden;
    }
  }
}

.menu {
  background: #eeeef0;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-decoration: none;
  background-color: white;
}
.slider1 {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  text-indent: 20px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-size: 20;
}
.slider {
  /* display: flex !important;
  flex-direction: column; */
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  text-indent: 20px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-size: 20;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* small menu style */
.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.open {
  transform: rotate(-45deg) translateY(6px) translateX(5px);
}

.menu {
  display: none; /* Hide on smaller screens */
}

.menu ul {
  list-style-type: none;
  padding: 0;
  border-bottom-left-radius: 10px;
  right: 0;
  background-color: rgb(8, 7, 7);
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 10px;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu {
    display: block;
  }
}

/* KYC Tabs */
.tab-buttons {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  width: 70%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .tab-buttons {
    display: block;
    width: 100%;
  }
}

.tab-buttons button {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #ddd;
  color: black;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .tab-buttons button {
    margin-top: 10px;
  }
}

.tab-buttons button.active {
  background-color: #267af1;
  color: white;
  border: 1px solid rgb(6, 6, 248);
}

.tab-content {
  margin-top: 10px;
  z-index: 0 !important;
}

.PhoneInputInput {
  background-color: rgb(18, 17, 17);
  height: 45px;
  border-radius: 10px;
}

@media screen and (width: 1280px) {
  .who {
    display: block !important;
  }
}
